$primary: #ff9940;
$info: #55b4d4;
$highlight: #99bf4d;
$white: #ffffff;
$snow: #fafafa;
$border: #dcdee1;
$text: #959da6;
$dark: #6c7680;

@mixin shadow {
    box-shadow: 0px 1px 3px rgba(149, 157, 166, 0.8);
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.grid-container {
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-columns: 280px 1fr;

    .sidebar {
        background: $white;
        height: 100%;

        .header {
            .header-pic {
            }

            .header-text-container {
                min-height: 30px;

                margin: 15px 10px;

                display: flex;
                align-items: center;
                justify-content: center;

                .header-text {
                    color: $dark;
                    font-size: 24px;
                    text-align: center;
                }
            }
        }

        .content {
            margin-top: 10px;
            padding: 0 25px;

            .users-container {
                margin-top: 50px;

                .users-header {
                    color: $dark;
                    font-size: 14px;
                    font-weight: 700;

                    &::before {
                        margin-left: -14px;
                        font-weight: 800;
                        content: ">";
                    }
                }

                .users-list {
                    list-style: none;
                    padding-left: 0px;

                    .user-item {
                        margin-top: 10px;
                        color: $text;
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .main-content {
        width: 100%;
        height: 100%;

        background: $snow;

        display: grid;
        grid-template-rows: 1fr auto;
        overflow: hidden;

        .msgs-container {
            overflow-y: scroll;
        }

        .search-bar {
            height: 35px;
            margin: 0px 15px 20px 15px;
            background: $snow;

            border: 1px solid $border;
            border-radius: 10px;

            display: grid;
            grid-template-columns: 40px 1fr 100px;

            .icon-container {
                display: grid;
                align-items: center;
                justify-content: center;

                .icon {
                    color: $text;
                    font-size: 18px;
                }
            }

            .search-input-container {
                .search-input {
                    width: 100%;
                    height: 100%;
                    padding: 0px 10px;

                    // background: $snow;
                    border: none;

                    font-size: 14px;
                    line-height: normal;

                    &:focus {
                        outline: none;
                    }
                }
            }

            .send-btn {
                border: none;
                border-left: 1px solid $border;
                background: $white;
                border-radius: 0px 10px 10px 0px;

                .send-btn-text {
                    color: $primary;
                }

                &:focus {
                    outline: none;
                }

                &:hover,
                &:focus {
                    background: $snow;
                    cursor: pointer;
                }
            }
        }
    }
}

/* width */
::-webkit-scrollbar {
    width: 8px;

}

/* Track */
::-webkit-scrollbar-track {
    background: $snow;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $border;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $text;
}
