<div class="grid-container">
    <div class="sidebar">
        <div class="header">
            <div class="header-pic">
                <img src="assets/room-pic.jpg" alt="Room Pic" class="w-100">
            </div>
            <div class="header-text-container">
                <span class="header-text">
                    James Miller Fan Club
                </span>
            </div>

        </div>

        <div class="content">
            <div class="users-container">
                <div class="users-header">
                    USERS
                </div>
                <ul class="users-list">
                    <li class="user-item">Pranav Bodawala</li>
                    <li class="user-item">Madeeha Anjum</li>
                    <li class="user-item">Someone Else</li>
                    <li class="user-item">Firstname Lastname</li>
                    <li class="user-item">Crazy cupcakes</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="main-content">
        <div class="msgs-container">
            <app-message *ngFor="let message of chatMessages" [message]="message"></app-message>
            <!-- <app-message [message]="message_others"> </app-message>
            <app-message [message]="message_self"> </app-message>
            <app-message [message]="message_server"> </app-message> -->


        </div>
        <div class="search-bar">
            <div class="icon-container">
                <div class="icon">+</div>
            </div>

            <div class="search-input-container" (keyup.enter)="onSendMsg()">
                <input class="search-input" [(ngModel)]="typedText">
            </div>



            <!-- <form (submit)="onSendMsg()"> -->
                <button type="submit" class="send-btn" (click)="onSendMsg()" >
                    <span class="send-btn-text ">
                        Send
                    </span>
                </button>
            <!-- </form> -->


        </div>
    </div>
</div>

<!-- <p *ngFor="let msg of (chatMessages$ | async)">{{msg}}</p> -->

<!-- <div>
    <label for="message">Message:</label>
    <input type="text" name="message" id="message" [(ngModel)]="message">
</div>

<button (click)="onSendMsg()"> Enter </button>

<div #msgContainer style="height: 200px; overflow: scroll;">
    <p *ngFor="let msg of chatMessages">
        {{msg.date | date }} [{{msg.from}}]: {{msg.text}}
    </p>
</div> -->