<div class="grid-container">
    <div class="sidebar">
        <div class="header">
            <div class="header-pic">
                <img src="assets/room-pic.jpg" alt="Room Pic" class="w-100">
            </div>
            <div class="header-text-container">
                <span class="header-text">
                    James Miller Fan Club
                </span>
            </div>

        </div>

        <div class="content">
            <div class="users-container">
                <div class="users-header">
                    USERS
                </div>
                <ul class="users-list">
                    <li class="user-item">Pranav Bodawala</li>
                    <li class="user-item">Madeeha Anjum</li>
                    <li class="user-item">Someone Else</li>
                    <li class="user-item">Firstname Lastname</li>
                    <li class="user-item">Crazy cupcakes</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="main-content">
        <div class="messages-container">
            
            <div class="message">
                <div class="icon-container">
                    <div class="icon">M</div>
                </div>

                <div class="text-container">
                    <span class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate perspiciatis sapiente eos?</span>
                </div>
            </div>

            <div class="message">
                <div class="icon-container">
                    <div class="icon">M</div>
                </div>

                <div class="text-container">
                    <span class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate perspiciatis sapiente eos?</span>
                </div>
            </div>


            <div class="message">
                <div class="icon-container">
                    <div class="icon">M</div>
                </div>

                <div class="text-container">
                    <span class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate perspiciatis sapiente eos?</span>
                </div>
            </div>

            <div class="message">
                <div class="icon-container">
                    <div class="icon">M</div>
                </div>

                <div class="text-container">
                    <span class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate perspiciatis sapiente eos?</span>
                </div>
            </div>

            <div class="message">
                <div class="icon-container">
                    <div class="icon">M</div>
                </div>

                <div class="text-container">
                    <span class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate perspiciatis sapiente eos?</span>
                </div>
            </div>

            <div class="message">
                <div class="icon-container">
                    <div class="icon">M</div>
                </div>

                <div class="text-container">
                    <span class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate perspiciatis sapiente eos?</span>
                </div>
            </div>

            <div class="message">
                <div class="icon-container">
                    <div class="icon">M</div>
                </div>

                <div class="text-container">
                    <span class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate perspiciatis sapiente eos?</span>
                </div>
            </div>

            <div class="message">
                <div class="icon-container">
                    <div class="icon">M</div>
                </div>

                <div class="text-container">
                    <span class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate perspiciatis sapiente eos?</span>
                </div>
            </div>

            <div class="message">
                <div class="icon-container">
                    <div class="icon">M</div>
                </div>

                <div class="text-container">
                    <span class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate perspiciatis sapiente eos?</span>
                </div>
            </div>

            <div class="message">
                <div class="icon-container">
                    <div class="icon">M</div>
                </div>

                <div class="text-container">
                    <span class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate perspiciatis sapiente eos?</span>
                </div>
            </div>

            <div class="message">
                <div class="icon-container">
                    <div class="icon">M</div>
                </div>

                <div class="text-container">
                    <span class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate perspiciatis sapiente eos?</span>
                </div>
            </div>

            
        </div>
        <div class="search-bar">
            <div class="icon-container">
                <div class="icon">+</div>
            </div>

            <div class="search-input-container">
                <input class="search-input">
            </div>


            <button type="submit" class="send-btn">
                <span class="send-btn-text ">
                    Send
                </span>
            </button>


        </div>
    </div>
</div>

<!-- <p *ngFor="let msg of (chatMessages$ | async)">{{msg}}</p> -->

<!-- <div>
    <label for="message">Message:</label>
    <input type="text" name="message" id="message" [(ngModel)]="message">
</div>

<button (click)="onSendMsg()"> Enter </button>

<div #msgContainer style="height: 200px; overflow: scroll;">
    <p *ngFor="let msg of chatMessages">
        {{msg.date | date }} [{{msg.from}}]: {{msg.text}}
    </p>
</div> -->