$primary: #ff9940;
$info: #55b4d4;
$highlight: #99bf4d;
$white: #ffffff;
$snow: #fafafa;
$border: #dcdee1;
$text: #959da6;
$dark: #6c7680;

@import "src/styles/variables";

@mixin shadow {
    box-shadow: 0px 1px 3px rgba(149, 157, 166, 0.8);
}

.h-100 {
    height: 100%;
}

.msg {
    display: flex;
    align-items: flex-start;

    padding: 10px 15px;

    .msg-item {
        margin-right: 10px;
    }

    .icon-container {
        @include shadow;

        width: 45px;
        height: 45px;

        min-width: 45px;
        min-height: 45px;

        border-radius: 50%;

        display: grid;
        align-items: center;
        justify-content: center;

        .icon {
            color: $white;
            font-size: 24px;
        }
    }

    .text-container {
        @include shadow();

        display: grid;
        align-items: center;

        min-height: 45px;

        width: fit-content;
        max-width: 80%;

        padding: 15px 20px;
        border-radius: 10px;

        background: $white;

        .text {
            max-width: 100%;
            color: $dark;
            font-size: 14px;
            line-height: 19px;

            word-break: break-word;
        }
    }
}

.msg-left {
    flex-direction: row;

    .icon-container {
        background: $info;
    }
}

.msg-right {
    flex-direction: row-reverse;

    .icon-container {
        background: $highlight;
    }
}

.msg-server {
    .text-container {
        min-height: 25px;

        display: flex;
        flex-direction: row;

        background: $primary !important;

        .text {
            color: $white;
            font-weight: 600;
        }
    }
}

.rps-container {
    @include shadow();

    margin: 10px 0px;
    background: color("white");

    height: 65px;
    max-height: 65px;
    overflow: hidden;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .player-move {
        margin: 10px 0px;
        margin-left: 15px;

        height: 100%;

        .rps-item {
            margin-right: 15px;
        }

        .icon-container {
            @include shadow;

            width: 45px;
            height: 45px;

            min-width: 45px;
            min-height: 45px;

            border-radius: 50%;

            display: grid;
            align-items: center;
            justify-content: center;

            .icon {
                color: $white;
                font-size: 24px;
            }
        }

        .rps-hand-container {
            @include shadow();

            height: 35px;
            width: 90px;

            border-radius: 10px;

            display: flex;
            align-items: center;
            justify-content: center;

            .rps-hand {
                color: color("white");
            }
        }

        &.left-side {
            display: flex;
            align-items: center;

            .icon-container {
                background: $info;
            }

            .rps-hand-container {
                background: color("blue");
            }
        }

        &.right-side {
            display: flex;
            align-items: center;

            .icon-container {
                background: $highlight;
            }

            .rps-hand-container {
                background: color("green");
            }
        }
    }

    .vs-container {
        height: 90px;
        width: 90px;

        border-radius: 50%;


        // border: 1px solid #FF9940;

        background: color("primary");

        display: flex;
        align-items: center;
        justify-content: center;

        .vs {
            font-size: 18px;
            color: color("white");
        }
    }
}


@media (max-width: 600px) {
    .vs-container {

        display: none !important;
    }

    .rps-item {
        margin-right: 5px !important;
    }
}