<h1> CURRENTLY IN DEVELOPMENT </h1>

<div class="container">
  <div class="header">
    <div class="header-text-container">
      <h1 class="header-text">M Message</h1>
    </div>
  </div>

  <div class="body">
    <div class="input-container">
      <input type="text" id="username" placeholder="Name" [(ngModel)]="username">
    </div>
    <div class="input-container">
      <input type="text" id="room" placeholder="Room" [(ngModel)]="room">
    </div>

    <div class="btn-container">
      <button id="submit-btn" (click)="onJoinBtn()"> Join </button>
    </div>
  </div>
</div>